In [1]:
!pip install PySpark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PySpark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from PySpark) (0.10.9.7)
Building wheels for collected packages: PySpark
  Building wheel for PySpark (setup.py) ... done
  Created wheel for PySpark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=52ba868ba65ea5b945d466da4a970fed838aa95e43035a96b1268de39592b7a8
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built PySpark
Installing collected packages: PySpark
Successfully installed PySpark-3.4.0

In [5]:
# Import necessary libraries
from pyspark.sql.functions import *
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline

# create a spark session
spark = SparkSession.builder.appName("Decision Tree Classification").getOrCreate()

# Load the data into a DataFrame
train_data_load = spark.read.format("csv").option("header", "false").load("adult.data")
test_data_load= spark.read.format("csv").option("header", "false").load("adult.test")

# Add column names to the DataFrame
columns = ["age", "workclass", "fnlwgt", "education", "education_num", "marital_status",
           "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss",
           "hours_per_week", "native_country", "income"]
train_data_df = train_data_load.toDF(*columns)
test_data_df = test_data_load.toDF(*columns)

# Remove leading and trailing whitespaces from the categorical columns
categorical_columns = ["workclass", "education", "marital_status", "occupation",
                       "relationship", "race", "sex", "native_country", "income"]
for column in categorical_columns:
    train_data = train_data_df.withColumn(column, trim(col(column)))
    test_data = test_data_df.withColumn(column, trim(col(column)))

In [6]:
numerical_columns = ["age", "fnlwgt", "education_num", "capital_gain", "capital_loss", "hours_per_week"]
for column in numerical_columns:
    train_data = train_data.withColumn(column, train_data[column].cast("integer"))
    test_data = test_data.withColumn(column, test_data[column].cast("integer"))

train_data_df.show()

+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
|age|        workclass| fnlwgt|    education|education_num|      marital_status|        occupation|  relationship|               race|    sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
| 39|        State-gov|  77516|    Bachelors|           13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male|        2174|           0|            40| United-States| <=50K|
| 50| Self-emp-not-inc|  83311|    Bachelors|           13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            13| United-States| <=50K|
| 38|          Private| 215646|      HS-grad|            9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|           0|           0|            40| United-States| <=50K|
| 53|          Private| 234721|         11th|            7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|           0|           0|            40| United-States| <=50K|
| 28|          Private| 338409|    Bachelors|           13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|           0|           0|            40|          Cuba| <=50K|
| 37|          Private| 284582|      Masters|           14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|           0|           0|            40| United-States| <=50K|
| 49|          Private| 160187|          9th|            5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|           0|           0|            16|       Jamaica| <=50K|
| 52| Self-emp-not-inc| 209642|      HS-grad|            9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            45| United-States|  >50K|
| 31|          Private|  45781|      Masters|           14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|       14084|           0|            50| United-States|  >50K|
| 42|          Private| 159449|    Bachelors|           13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|        5178|           0|            40| United-States|  >50K|
| 37|          Private| 280464| Some-college|           10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|           0|           0|            80| United-States|  >50K|
| 30|        State-gov| 141297|    Bachelors|           13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|         India|  >50K|
| 23|          Private| 122272|    Bachelors|           13|       Never-married|      Adm-clerical|     Own-child|              White| Female|           0|           0|            30| United-States| <=50K|
| 32|          Private| 205019|   Assoc-acdm|           12|       Never-married|             Sales| Not-in-family|              Black|   Male|           0|           0|            50| United-States| <=50K|
| 40|          Private| 121772|    Assoc-voc|           11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|           0|           0|            40|             ?|  >50K|
| 34|          Private| 245487|      7th-8th|            4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|           0|           0|            45|        Mexico| <=50K|
| 25| Self-emp-not-inc| 176756|      HS-grad|            9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|           0|           0|            35| United-States| <=50K|
| 32|          Private| 186824|      HS-grad|            9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|           0|           0|            40| United-States| <=50K|
| 38|          Private|  28887|         11th|            7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|           0|           0|            50| United-States| <=50K|
| 43| Self-emp-not-inc| 292175|      Masters|           14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|           0|           0|            45| United-States|  >50K|
+---+-----------------+-------+-------------+-------------+--------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [7]:
test_data_df.show()

+---+-----------------+-------+-------------+-------------+-------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+-------+
|age|        workclass| fnlwgt|    education|education_num|     marital_status|        occupation|  relationship|               race|    sex|capital_gain|capital_loss|hours_per_week|native_country| income|
+---+-----------------+-------+-------------+-------------+-------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+-------+
| 25|          Private| 226802|         11th|            7|      Never-married| Machine-op-inspct|     Own-child|              Black|   Male|           0|           0|            40| United-States| <=50K.|
| 38|          Private|  89814|      HS-grad|            9| Married-civ-spouse|   Farming-fishing|       Husband|              White|   Male|           0|           0|            50| United-States| <=50K.|
| 28|        Local-gov| 336951|   Assoc-acdm|           12| Married-civ-spouse|   Protective-serv|       Husband|              White|   Male|           0|           0|            40| United-States|  >50K.|
| 44|          Private| 160323| Some-college|           10| Married-civ-spouse| Machine-op-inspct|       Husband|              Black|   Male|        7688|           0|            40| United-States|  >50K.|
| 18|                ?| 103497| Some-college|           10|      Never-married|                 ?|     Own-child|              White| Female|           0|           0|            30| United-States| <=50K.|
| 34|          Private| 198693|         10th|            6|      Never-married|     Other-service| Not-in-family|              White|   Male|           0|           0|            30| United-States| <=50K.|
| 29|                ?| 227026|      HS-grad|            9|      Never-married|                 ?|     Unmarried|              Black|   Male|           0|           0|            40| United-States| <=50K.|
| 63| Self-emp-not-inc| 104626|  Prof-school|           15| Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|        3103|           0|            32| United-States|  >50K.|
| 24|          Private| 369667| Some-college|           10|      Never-married|     Other-service|     Unmarried|              White| Female|           0|           0|            40| United-States| <=50K.|
| 55|          Private| 104996|      7th-8th|            4| Married-civ-spouse|      Craft-repair|       Husband|              White|   Male|           0|           0|            10| United-States| <=50K.|
| 65|          Private| 184454|      HS-grad|            9| Married-civ-spouse| Machine-op-inspct|       Husband|              White|   Male|        6418|           0|            40| United-States|  >50K.|
| 36|      Federal-gov| 212465|    Bachelors|           13| Married-civ-spouse|      Adm-clerical|       Husband|              White|   Male|           0|           0|            40| United-States| <=50K.|
| 26|          Private|  82091|      HS-grad|            9|      Never-married|      Adm-clerical| Not-in-family|              White| Female|           0|           0|            39| United-States| <=50K.|
| 58|                ?| 299831|      HS-grad|            9| Married-civ-spouse|                 ?|       Husband|              White|   Male|           0|           0|            35| United-States| <=50K.|
| 48|          Private| 279724|      HS-grad|            9| Married-civ-spouse| Machine-op-inspct|       Husband|              White|   Male|        3103|           0|            48| United-States|  >50K.|
| 43|          Private| 346189|      Masters|           14| Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|           0|           0|            50| United-States|  >50K.|
| 20|        State-gov| 444554| Some-college|           10|      Never-married|     Other-service|     Own-child|              White|   Male|           0|           0|            25| United-States| <=50K.|
| 43|          Private| 128354|      HS-grad|            9| Married-civ-spouse|      Adm-clerical|          Wife|              White| Female|           0|           0|            30| United-States| <=50K.|
| 37|          Private|  60548|      HS-grad|            9|            Widowed| Machine-op-inspct|     Unmarried|              White| Female|           0|           0|            20| United-States| <=50K.|
| 40|          Private|  85019|    Doctorate|           16| Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|           0|           0|            45|             ?|  >50K.|
+---+-----------------+-------+-------------+-------------+-------------------+------------------+--------------+-------------------+-------+------------+------------+--------------+--------------+-------+
only showing top 20 rows

In [8]:
# Add a label column to the data using StringIndexer
indexer = StringIndexer(inputCol="income", outputCol="label")
train_data = indexer.fit(train_data).transform(train_data)
test_data = indexer.fit(test_data).transform(test_data)

# Vectorize the features
categorical_features = ["workclass", "education", "marital_status", "occupation",
                        "relationship", "race", "sex", "native_country"]
numeric_features = ["age", "fnlwgt", "education_num", "capital_gain", "capital_loss", "hours_per_week"]
assembler_inputs = [c + "_encoded" for c in categorical_features] + numeric_features
assembler = VectorAssembler(inputCols=assembler_inputs, outputCol="features")

# Convert categorical columns to indices and one-hot encode them
indexers = [StringIndexer(inputCol=c, outputCol=c + "_index") for c in categorical_features]
encoders = [OneHotEncoder(inputCol=c + "_index", outputCol=c + "_encoded") for c in categorical_features]

# Build the decision tree classifier model
dt = DecisionTreeClassifier(featuresCol="features", labelCol="label")

# Chain indexers, encoders, assembler and the model in a Pipeline
pipeline = Pipeline(stages=indexers + encoders + [assembler, dt])

# Fit the pipeline to the training data
model = pipeline.fit(train_data)

# Make predictions on the test data
predictions = model.transform(test_data)

# Evaluate the model
evaluator = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction", labelCol="label")
accuracy = evaluator.evaluate(predictions)

print("Decision Tree Classifier Model accuracy: ", accuracy)

Decision Tree Classifier Model accuracy:  0.5651777176836972